{% extends 'base.html.j2' %}

{% block title %}
I want to be the very best, that no one ever was 🎶
{% endblock %}

{% block content %}
Welcome to the arena 🤺

    <table class="table table-borderless">
        <thead>
            <tr>
                <th scope="col">First Name</th>
                <th scope="col">Pokemon</th>
                <th scope="col">Actions</th>
                <th scope="col">Wins</th>
            </tr>
        </thead>
        <tbody>
    {% for row in data %}
            <tr>
                <td scope="row">{{ row[0] }}</td>
                <td>
                    {% for i in dictionary[row[1]] %}
                    <img src="{{ i[1] }}">
                    {# {{ dictionary }} #}
                    {% endfor %}
                </td>
                <td><a href="/challenge/{{row[0]}}" class="btn btn-danger" onclick="return confirm('Are you sure you want to challenge this player?')">Challenge {{ row[0] }}</td>
                <td>Placeholder value for number of wins</td>
            </tr>

{% endfor %}
{% endblock %}