{% extends 'base.html.j2' %}

{% block title %}
I want to be the very best, that no one ever was 🎶
{% endblock %}

{% block content %}
Welcome to the arena 🤺

    <table class="table table-borderless">
        <thead>
            <tr>
                <th scope="col">First Name</th>
                <th scope="col">Pokemon</th>
                <th scope="col">Actions</th>
                <th scope="col">Wins</th>
            </tr>
        </thead>
        <tbody>
    {% for row in user_list %}
            <tr>
                <td scope="row">{{ row.id }}</td>
                <td>
                    {% for i in output_dictionary[row.first_name] %}
                    <img src="{{ i }}">
                    {% endfor %}
                </td>
                <td><a href="/battle/challenge/{{row.id}}" class="btn btn-danger" onclick="return confirm('Are you sure you want to challenge {{row.first_name}}?')">Challenge {{ row.first_name }}</td>
                <td>{{row.wins}}</td>
            </tr>

{% endfor %}
{% endblock %}