{% extends 'base.html.j2' %}

{% block title %}
I want to be the very best, that no one ever was 🎶
{% endblock %}

{% block content %}
To train them is my caaaauuuse

    <h1>Catch a Pokemon?</h1>
    <form method="POST" action="/pokemon">
    <div class="mb-3">
        <label for="pokemon_name" class="form-label">Name of Pokemon you would like to catch! 🎣</label>
        <input type="text" name="pokemon_name" class="form-control" id="pokemon_name">
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
    </form>

        <small style="color:red">{{error}}</small>
    <br>
    {% if name %}
        <table class="table table-striped table-hover">
        <thead>
            <tr>
            <th scope="col">Name of Pokemon</th>
            <th scope="col">HP</th>
            <th scope="col">Attack</th>
            <th scope="col">Defense</th>
            <th scope="col">Ability</th>
            <th scope="col">Sprite</th>
            <th scope="col">Catch this Pokemon? 🎣</th>
            </tr>
        </thead>
        {# Hidden field with value of dictionary URL for add poke and pass parameters in Jinja #}
        <tbody>
                <tr>
                    <th scope="row">{{name}}</th>
                    <td>{{hp}}</td>
                    <td>{{attack}}</td>
                    <td>{{defense}}</td>      
                    <td>{{ability}}</td>
                    <td><img src="{{sprite}}"></td>
                    <td><a href="{{url_for('main.addPoke')}}" class ="btn btn-primary">Catch {{name}}!</button></td>
                </tr>
        </tbody>
        </table>
    {% else %}
    Please search a Pokemon, friend
    {% endif %}

    {% if children_list == [] %}
    <p>You have not caught any Pokemon yet.</p>
    {% else %}

    <table class="table table-borderless">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Sprite</th>
                <th scope="col">HP</th>
                <th scope="col">Attack</th>
                <th scope="col">Defense</th>
                <th scope="col">Main Ability</th>
                <th scope="col">Remove this Pokemon?</th>
            </tr>
        </thead>
        <tbody>
    {% for row in children_list %}
            <tr>
                <td scope="row">{{ row.name }}</td>
                <td><img src="{{ row.sprite }}"></td>
                <td>{{ row.hp }}</td>
                <td>{{ row.attack }}</td>
                <td>{{ row.defense }}</td>
                <td>{{ row.ability }}</td>
                <td><a href="/delete/{{row.the_pokemon_id}}" class="btn btn-danger" onclick="return confirm('Are you sure you want to remove this Pokemon from your pokedex?')">Delete</td>
            </tr>
    {% endfor %}
    {% endif %}
        </tbody>
    </table>
    

{% endblock %}